<div class="bg-light p-5 text-center mt-5" >
    <h4>Created by Delog</h4>
    <h5>📞 010-5555-0000<h5>
            <button class="btn btn-primary">고객센터</button>
            <button class="btn btn-success">오시는길</button>
</div>
</body>

</html>