<!-- Form태그가 있는 문서는 ---form의 문법 -->
{{> /layout/header}}

<!-- Form태그의 method는 Default값이 get요청, Insert할때는 post요청-->
<!-- 요청을 하면 localhost:8080/join 에 post요청됨-->
<!-- username=사용자입력값&password=사용자입력값&email=사용자입력값 << x-www 형식으로 전달된다. 
    (입력값은 value에 들어간다.)-->

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원정보수정</b></div>
        <div class="card-body">
            <form action="/update" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3 mt-1">
                    <input type="text" class="form-control" placeholder="Enter username" name="username" disabled>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email" disabled>
                </div>

                <!-- type="submit" << Form태그 input 내의 정보를 '한번에' 전송한다.-->
                <!-- 반드시 form태그 안에 있어야 적용된다.-->
                <button type="submit" class="btn btn-primary form-control">회원정보수정</button>
        </div>
    </div>
    </form>



    {{> /layout/footer}}