<!-- 메인페이지 -->
{{> /layout/header}}

<div class="container p-5">

    {{! {{#컬렉션 << for문  }}
    {{#boardList}}
    <div class="card m-3">
        <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <a href="/board/{{id}}" class="btn btn-outline-danger">상세 보기</a>
        </div>
    </div>
    {{/boardList}}

    <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    </ul>
</div>


{{> /layout/footer}}